:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.product-image {
  max-width: 400px;
  width: 100%;
}

.star-rating {
  color: #009664;
}

img.large {
  max-width: 100%;
}

.nav-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Dark Theme */
.custom-navbar-dark {
  background-color: #333;
}

/* Light Theme */
.custom-navbar-light {
  background-color: #f8f9fa;
}
